<h1>Welcome to Bet with Friends!</h1>

<!-- <%= @user_bets %> -->

<br>

<h3>Your total Win/Loss to date is <%= @money_won_or_lost %> on <%= @total_wagers %> of money bet.</h3>

<br>
<br>
<br>

<% if @money_won_or_lost <= 0 %>
  <h4> You're not very good at this... maybe take a week off and call 1-800-GAMBLER </h4>
<% else %>
  <h4> Your picks are hot! Keep the bets coming! </h4>
<% end %>
