<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container">
    <a class="navbar-brand" href="/">
      Bet Tracker
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav-links" aria-controls="collapsible-nav-links" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsible-nav-links">
      <ul class="navbar-nav mr-auto">
        <% if session[:user_id] == nil %>
        <li class="nav-item">
          <a class="nav-link" href="/user_sign_up">
            Sign Up
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user_sign_in">
            Sign In
          </a>
        </li>
        <% end %>
        <% if session[:user_id] != nil %>
        <li class="nav-item">
          <a class="nav-link" href="/bets">
            My Bets
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/leaderboard">
            Leaderboard
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" href="/edit_user_profile">
              <% the_user = User.where({ :id => session[:user_id]}).at(0) %>
              <i class="bi bi-pencil-square"></i> <%= the_user.username %>
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user_sign_out">
            Log Out
          </a>
        </li>
        <% end %>
      </ul>
    </div> <!-- .navbar-collapse -->
  </div> <!-- .container -->
</nav>
